.btn {
    border-radius: 10%;
    border: 1px solid transparent;
    padding: 0;
    margin: 0.1em;

    width: 4em;
    height: 4em;

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    text-align: center;

    background-color: var(--button-back-color);
    cursor: pointer;
    transition: border-color 0.25s;
}

.btn[data-label='0'] {
    width: 8.2em;
}

.btn[data-label='='] {
    background-color: #c47a53;
}

.btn[data-label='C'] {
    color: #bf0000;
}

.btn:hover {
    border-color: var(--button-hover-color);
}
.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
